{% extends 'base.html.twig' %}

{% block title %}PointClient{% endblock %}

{% block body %}
    <h1>PointClient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ point_client.id }}</td>
            </tr>
            <tr>
                <th>Point</th>
                <td>{{ point_client.point }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ point_client.createdAt ? point_client.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ point_client.updatedAt ? point_client.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('point_client_index') }}">back to list</a>

    <a href="{{ path('point_client_edit', {'id': point_client.id}) }}">edit</a>

    {{ include('point_client/_delete_form.html.twig') }}
{% endblock %}
